.scrollContainer {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.scrollContainer::-webkit-scrollbar {
    width: 10px;
}

.scrollContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: rgba(151, 133, 186, 0.4);
    border-radius: 8px;
}

.centerText {
    text-align: center;
    padding: 24px;
    background-color: var(--primary-light);
    border-radius: 8px;
}